@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



body {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 2rem;
  --mainColor: #dddbd5;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

#submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1rem auto auto auto;
  border: 0px;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: #e02a25;
  cursor: pointer;
  font-weight: 700;
}

#submit-button:disabled {
  background-color: #cdcdcd;
  color: dimgrey;
  opacity: 1;
}

#submit-button:focus {
  outline: 2px solid #180105;
}

.input-field-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-window {
  display: flex;
  flex-direction: column;
  min-height: 2rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.chat-bubble {
  resize: none;
  position: relative;
  padding: .8rem 1rem;
  border-radius: 1rem;
  background: var(--mainColor);
  width: 65%;
  overflow-wrap: break-word;
}

.left {
  align-self: flex-start;
  color: #000000;
}

.right {
  margin: 0 0 0 auto;
  align-self: flex-end;
  color: #000;
}

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 3.5rem;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mainColor) var(--mainColor) transparent transparent;
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 3.5rem;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mainColor) transparent transparent var(--mainColor);
}

.main-container {
  padding: 5px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 4px #000;
}

.characters-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.right-wrapper {
  position: relative;
}

.drawing {
  margin-top: 1rem;
  max-width: 50%;
}

.drawing-right {
  margin-top: 1rem;
  max-width: 100%;
}

.thinking {
  max-width: 32px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
}

.hourglass {
  width: 64px;
  height: 64px;
}