@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  padding: 0px;
  margin: 0px;
}

.cgpt-main-container {
  font-family: 'Patrick Hand', sans-serif;
  --mainColor: #fff;
  max-width: 630px;
  }

.cgpt-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

#cgpt-submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0px;
  color: #fff;
  width: 75%;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  background: linear-gradient(to right, #b31217, #e52d27);
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

#cgpt-submit-button:disabled {
  background: linear-gradient(to right, #4e4d4d, #868585);
  color: rgb(63, 63, 63);
  opacity: .6;
}

#cgpt-submit-button:focus {
  outline: 2px solid #180105;
}

.cgpt-chat-window {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 250px;
  padding: 0.5rem;
  /* padding-bottom: 2rem; */
  gap: 1rem;
}

.cgpt-chat-bubble {
  resize: none;
  position: relative;
  padding: .8rem 1rem;
  border-radius: 1rem;
  background: var(--mainColor);
  width: 65%;
  overflow-wrap: break-word;
}

.cgpt-left {
  align-self: flex-start;
  color: #000000;
}

.cgpt-right {
  margin: 0 0 0 auto;
  align-self: flex-end;
  color: #000;
}

.cgpt-tri-right.cgpt-btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 2.5rem;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mainColor) var(--mainColor) transparent transparent;
}

.cgpt-tri-right.cgpt-btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 2.5rem;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mainColor) transparent transparent var(--mainColor);
}

.cgpt-app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  background-color: #dddbd5;
}

.cgpt-characters-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.cgpt-right-wrapper {
  position: relative;
}

.cgpt-drawing {
  margin-top: 1rem;
  max-width: 50%;
}

.cgpt-drawing-right {
  margin-top: 1rem;
  max-width: 100%;
}

.cgpt-thinking {
  max-width: 12%;
  position: absolute;
  top: 28%;
  left: 35%;
  transform: translate3d(-50%, -50%, 0);
}

.cgpt-hourglass {
  width: 100%;
  height: 100%;
}

/* Mobile breakpoint */
@media screen and (max-width: 600px) {
  /* Adjust font size for .main-container */
  .cgpt-main-container {
    font-size: 1.125rem; /* or whatever size you prefer */
    font-weight: 400;    
  }

  .cgpt-chat-bubble {
    width: 80%;
    padding: .5rem .5rem;
  }

  .cgpt-chat-window {
    min-height: 185px;
    padding: 0.5rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
  }

  .cgpt-button-wrapper {
    padding: 0.5rem;
  }
  

  #cgpt-submit-button {
    width: 75%;
    border-radius: 1rem;
    padding: 0.8rem 1.25rem;
    font-size: medium;
    font-weight: 600;
  }

  .cgpt-tri-right.cgpt-btm-right:after {
    right: 0;
  }
  
  .cgpt-tri-right.cgpt-btm-left:after {
    left: 0;
  }

  .cgpt-left {
    border-bottom-left-radius: 0;
  }
  
  .cgpt-right {
    border-bottom-right-radius: 0;
  }
}

/* Tablet breakpoint */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  /* Adjust font size for .main-container */
  .cgpt-main-container {
    font-size: 1.5rem; /* or whatever size you prefer */
    font-weight: 500;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {
  /* Adjust font size for .main-container */
  .cgpt-main-container {
    font-size: 1.5rem;    
    font-weight: 500;
  }
}