@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.main-container {
  font-family: 'Patrick Hand', sans-serif;
  --mainColor: #fff;
  max-width: 630px;
  padding: 5px;
}

/* Mobile breakpoint */
@media screen and (max-width: 767px) {
  /* Adjust font size for .main-container */
  .main-container {
    font-size: 1.3rem; /* or whatever size you prefer */
    font-weight: 500;
  }
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Adjust font size for .main-container */
  .main-container {
    font-size: 1.5rem; /* or whatever size you prefer */
    font-weight: 500;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {
  /* Adjust font size for .main-container */
  .main-container {
    font-size: 1.75rem;    
    font-weight: 500;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

#submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1rem auto auto auto;
  border: 0px;
  color: #fff;
  width: 75%;
  border-radius: 1rem;
  padding: 1rem 4rem;
  background: linear-gradient(to right, #b31217, #e52d27);
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

#submit-button:disabled {
  background: linear-gradient(to right, #4e4d4d, #868585);
  color: rgb(63, 63, 63);
  opacity: 1;
}

#submit-button:focus {
  outline: 2px solid #180105;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 12rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.chat-bubble {
  resize: none;
  position: relative;
  padding: .8rem 1rem;
  border-radius: 1rem;
  background: var(--mainColor);
  width: 65%;
  overflow-wrap: break-word;
}

.left {
  align-self: flex-start;
  color: #000000;
}

.right {
  margin: 0 0 0 auto;
  align-self: flex-end;
  color: #000;
}

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 3.5rem;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mainColor) var(--mainColor) transparent transparent;
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 3.5rem;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mainColor) transparent transparent var(--mainColor);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  background-color: #dddbd5;
}

.characters-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.right-wrapper {
  position: relative;
}

.drawing {
  margin-top: 1rem;
  max-width: 50%;
}

.drawing-right {
  margin-top: 1rem;
  max-width: 100%;
}

.thinking {
  max-width: 12%;
  position: absolute;
  top: 28%;
  left: 35%;
  transform: translate3d(-50%, -50%, 0);
}

.hourglass {
  width: 100%;
  height: 100%;
}